
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border-bottom: 1px solid black;
  }

#maintext {
  background-color: yellow;
  font-size: 
}

#heading1 {
  font-size: 2em;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'times new roman', serif;
  color: #557c3e;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

  #collapsable-nav { /* Collapsed nav menu text */
    background-color: green;
    color: black
  }

  .navbar-header{
    border-bottom: 1px solid black;
  }
